.og-rich-text {
  --utrecht-space-around: 1;
  --utrecht-heading-1-margin-block-start: 3rem;
  --utrecht-heading-2-margin-block-start: 3rem;
  --utrecht-heading-3-margin-block-start: 2rem;
  --utrecht-heading-4-margin-block-start: 2rem;
  --utrecht-heading-5-margin-block-start: 1.67rem;
  --utrecht-heading-6-margin-block-start: 2.33rem;
  --utrecht-button-group-margin-block-start: 1.5rem;
  --utrecht-unordered-list-margin-block-start: 1rem;
  --utrecht-table-margin-block-start: 1rem;
  --utrecht-ordered-list-margin-block-start: 1rem;
  --utrecht-unordered-list-item-margin-block-start: 0.5em;
  --utrecht-ordered-list-item-margin-block-start: 0.5em;
  --utrecht-spotlight-section-margin-block-start: 2rem;
  --utrecht-paragraph-margin-block-start: 2rem;
  --utrecht-accordion-margin-block-start: 4rem;
}
